.auth-form {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: 4rem;
}

body.modal-open {
  overflow: hidden;
}

.error-snackbar {
  background-color: white !important;
  color: black !important;
}